.HeaderAbout-Descripcion,
.HeaderAbout-Descripcion-slogang,
.HeaderAbout-Descripcion-p
    margin-left .3em
    color white

.MainMenu
    background #2271B3
    height 5em
    left 0
    line-height 4em
    position fixed
    right 0
    text-align center
    top 0
    z-index 0

.MainMenu-item
    display inline-block
    margin-right 1.5em

.MainMenu-item:hover
    border-bottom .3em solid cyan

.MainMenu-list
    padding 0
    margin 0

.navbar-toggle
    position relative
    float right
    padding 9px 10px
    margin-top 15px
    margin-right 15px
    margin-bottom -9px
    background-color transparent
    background-image none
    border-radius 4px
    border 1px solid transparent

.navbar-collapse
    background #2271B3

.MainMenu-link
    color white
    text-decoration none
    transition .7s

.PanelLogin
    position absolute
    display inline-block
    background #fffafa
    right 0em
    padding 1.5em
    display none
    z-index 1

.MainMenu-link:hover
    background blue
    transition .7s

.MainMenu-link.Top
    line-height 3em
    font-size 16px

.MainMenu-link.Bop
    line-height 3em
    font-size 16px

.MainMenu-logo
    margin-top .5em
    width 180px

.icon-bar
    background-color white

.Logo
    width 3em
    float left
    margin .3em .3em

.Item1
    float left
    padding-left .5em

.Item2,
.Item3,
.Item4
    float right

.menu
  background #2271B3
  text-align center
  font-size 2em

.li1
    padding 1em
    display inline-block

.ini
    align-left
    display inline-block

.button
  background #CFD8DC
  font-size 1.3em
  color #000000
