<div class="altWrap">
  <!-- <aside class="heal">
    <img class="care1" src="../../img/angelica.jpg" alt="" />
  </aside> -->
  <div class="container" style="display:inline-block;margin-left:5em;">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="sectionTitle">!Bienvenid@ a Pocket Medic¡</h2>
      </div>
    </div>
    <div class="Portafolio">
      <div class="row IdentityMajor-container" style="display:flex;justify-content:space-between;margin:auto;">
        <div class="col-md-4 portafoliocontainer">
          <h3 class="portafoliocontainer-Title">Bienvenid@</h3>
          <p class="text">Ahora puedes disfrutar de los servicios que te ofrecemos en nuestra plataforma</p>
        </div>
        <div class="col-md-4 portafoliocontainer">
          <h3 class="portafoliocontainer-Title">¿Qué puedes hacer ahora?</h3>
          <p class="text">Ahora que estás dentro puedes buscar médicos según su especialidad, crear consultas con ellos y muy pronto podrás crear una cita presencial con tu médico de seleccionado</p>
        </div>
      </div>
    </div>
  </div>
</div>
