.altWrap
  margin-top 5em
  width 100%
  color #2271B3
  font-size 1.5em

.heal
  display inline-block
  margin-top 5em
  float right
  width 7%
  margin-right 15em
  border-radius 18em

.care1
  border-radius 50%
  width 310%

.sectionTitle
  text-align justify
  font-size 3em
  border-bottom: 2px solid #E0E0E0
  margin-bottom 1.5em
  margin-top 1em

.portafoliocontainer-Title
  font-size 1.8em

.text
 color black
 width 90%
 font-size 17px
