.SectionPerfil
  background #607D8B
  text-align center
  padding  12em

.Perfil
  padding-top 3em
  background-color snow

.FormPerfil
  background #EEEEEE
  display flex
  justify-content space-between
  padding 6em
  margin auto
  border-radius 0.1em
  box-shadow 0.1em 0.1em  #555
  max-width 84em
  width 90%


.infoPersonal
  color
  text-align left
  width 40%
  display inline-block
  margin-left 10em
  font-size 1.3em
  margin-top 1em

.FormPerfil-img
  float left
  width 10em
  display block
  margin -4em

.messeger
  width 12em
  margin-top 5em
  margin-left 8em


.textPer
  border-bottom 2px solid #1E0C53
  padding-bottom 2em
  color black
  text-align center

.Informpersonal
  margin-bottom 2em
  border-bottom  2px
  display block
  color black

.Infocontacto
  margin-bottom 2em
  border-bottom 2px solid black
  display:block


.buttom1
  background #01579B
  margin -1
  color white
  vertical-align top

.mapaContainer
  text-align center

.mapa
  display inline-block
  background-size cover

@media screen and (max-width: 1045px)
  .messeger
    margin-left 5em
  .infoPersonal
    font-size 1em

@media screen and (max-width: 920px)
  .FormPerfil-img
    width 400px

  .infoPersonal
    margin 0
    margin-top 6em

  .SectionPerfil
    padding-left 100px
    padding-right 100px

  .messeger
    margin-left 8em

@media screen and (max-width: 815px)
  .SectionPerfil
    padding-left 90px
    padding-right 90px

@media screen and (max-width: 790px)
  .FormPerfil-img
    width 350px

@media screen and (max-width: 700px)
  .FormPerfil-img
    width 300px

@media screen and (max-width: 650px)
  .FormPerfil-img
    width 270px

@media screen and (max-width: 630px)
  .FormPerfil-img
    width 260px

  .messeger
    width 100px
    margin-left 5em

  .buttom1
    width 200px

@media screen and (max-width: 580px)
  .SectionPerfil
    padding-left 60px
    padding-right 60px

  .messeger
    margin-left 3em

@media screen and (max-width: 500px)
  .messeger
    margin-left 2em

  .SectionPerfil
    padding-left 60px
    padding-right 60px

  .FormPerfil
    padding 70px

  .textPer
    font-size 1.5em

@media screen and (max-width: 450px)
  .messeger
    margin-left 1em

  .FormPerfil
    padding 60px

  .SectionPerfil
    padding-left 60px
    padding-right 60px

  .buttom1
    width 150px
@media screen and (max-width: 425px)
  .messeger
    margin-left -1em
    width 90px

  .FormPerfil-img
    width 230px

  .buttom1
    width 140px
    margin-left -1.5em

  .textPer
    font-size 1em
