* {
  margin: 0;
  padding: 0;
}
.Inicio-image {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../img/medicine_phixr.png");
  background-size: cover;
  height: 60em;
  margin-top: 3em;
}
.HeaderAbout-Descripcion {
  display: inline-block;
  font-size: 6em;
  margin-left: 80px;
  margin-top: 1em;
}
.HeaderAbout-Descripcion-p {
  font-size: 2.1em;
  width: 40%;
  margin-left: 3em;
  margin-top: 3.5em;
}
.altWrap {
  width: 100%;
  color: #2271b3;
  font-size: 1.5em;
}
.sectionTitle {
  text-align: justify;
  font-size: 3em;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 1.5em;
  margin-top: 1em;
}
.portafoliocontainer-Title {
  font-size: 1.8em;
}
.text {
  color: #000;
  width: 90%;
  font-size: 17px;
}
.Elegirnos {
  background: #2271b3;
  color: #fff;
}
.Title {
  font-size: 3.5em;
  margin-left: 12px;
}
.Parrafo-Container {
  font-size: 17px;
}
.container-Equipo {
  background: #2271b3;
}
.Equipoimage-container {
  text-align: center;
}
.emernoob {
  border-radius: 5em;
  width: 50%;
}
.heal {
  display: inline-block;
  margin-top: 5em;
  float: right;
  width: 7%;
  margin-right: 15em;
  border-radius: 18em;
}
.care1 {
  border-radius: 50%;
  width: 310%;
}
.Tittle {
  text-align: center;
  font-size: 3em;
  margin-bottom: 1.5em;
  padding-top: 1em;
  color: #fafafa;
  margin-top: 0;
}
.Name {
  text-align: center;
  font-size: 2em;
  color: #fafafa;
}
.Description {
  text-align: center;
  font-size: 1em;
  color: #fafafa;
}
@media screen and (max-width: 700px) {
  .HeaderAbout-Descripcion {
    display: inline-block;
    font-size: 6em;
    margin-left: 72px;
    margin-top: 1em;
  }
  .heal {
    display: none;
  }
  .emernoob {
    width: 30%;
  }
}
@media screen and (max-width: 700px) {
  .HeaderAbout-Descripcion-p {
    font-size: 2.1em;
    width: 78%;
    margin-left: 2em;
    margin-top: 3.5em;
  }
  .heal {
    display: none;
  }
  .emernoob {
    width: 30%;
  }
}
@media screen and (max-width: 751px) {
  .Inicio-image {
    background-image: url("../../img/enfocada.jpg");
  }
  .HeaderAbout-Descripcion-p {
    font-size: 1.7em;
  }
  .heal {
    display: none;
  }
  .emernoob {
    width: 30%;
  }
}
@media screen and (max-width: 360px) {
  .HeaderAbout-Descripcion {
    font-size: 5em;
    margin-left: 40px;
  }
  .heal {
    display: none;
  }
  .emernoob {
    width: 30%;
  }
}
