.Section-3r {
  margin-top: 3.5em;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../img/verde.jpg");
}
.Titulo-page {
  border-bottom: 2px solid #006400;
  padding-bottom: 0.2em;
}
.Descriccion-page {
  width: 50%;
  margin: 0 auto;
}
.Titulo-page,
.Descriccion-page {
  text-align: center;
  margin-bottom: 0.5em;
}
.Div-3r {
  display: inline-block;
  margin: 1em 1em;
}
.Titulo-3r {
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
  border-bottom: 3px solid #00f700;
}
.Info-3r {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  margin-top: 1em;
  font-size: 1.3em;
}
.Image3r-container {
  display: inline-block;
  margin-left: 2em;
}
.img {
  vertical-align: top;
}
.Image3r {
  display: inline-block;
}
.TituloVideo-3r {
  margin-bottom: 0.3em;
}
.Video3r-container {
  text-align: center;
  margin: 1em auto;
}
.VIdeo3r,
.Div-ecoTips {
  text-align: center;
  margin-bottom: 2em;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1em;
}
@media screen and (max-width: 750px) {
  .Section-3r {
    background-image: url("../../img/verde3.jpg");
  }
}
@media screen and (min-width: 349px) {
  .Titulo-page {
    margin-top: 3em;
    font-size: 34px;
  }
}
@media screen and (min-width: 349px) {
  .Descriccion-page {
    text-align: left;
  }
}
@media screen and (min-width: 349px) {
  .Titulo-3r {
    margin-left: -11px;
    text-align: center;
  }
}
@media screen and (min-width: 349px) {
  .Info-3r {
    text-align: left;
    margin-left: 51px;
  }
}
@media screen and (min-width: 349px) {
  .Titulo-V {
    font-size: 23px;
  }
}
