.tabla
  background #B3E5FC
  text-align center
  background-repeat no-repeat
  background-size cover
  background-position fixed
  padding 8em
  box-shadow 0.1em 0.1em  #555
  border-radius 1em
  width 90%
  display inline-block

.SectionTab
  text-align center
  background-image url('../../img/medicine_phixr.png')
  background-repeat no-repeat
  background-size cover
  background-position fixed
  padding 8em
