<section class="SectionTab">
  <div class="tabla" data-example-id="simple-table">
    <h1 style="padding-bottom:.5em;border-bottom:2px solid black;">Medicos</h1><br>

    <div class="Especilidad">
      <div layout="row" style="display:inline-block;">
        <md-input-container>
          <label style="color:black;">Filtrar Por Especialidades</label>
          <md-select ng-model="vm.titulos">
            <md-option ng-repeat="titulo in vm.tituloscertificados" value="{{titulo.titulos}}">
              {{titulo.titulos}}
            </md-option>
          </md-select><br>
          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
              <md-button type="submit" class="md-raised md-primary" ng-click="vm.consulta()"
                         style="background:#FAFAFA;color:#4DD0E1;text-shadow:0.5em0.5em#555;">Buscar</md-button>
              <!-- <md-button ng-href="/" class="md-raised md-warn">Cancelar</md-button> -->
            </section>
          <!-- <button type="submit" ng-click="vm.consulta()">consulta</button> -->
        </md-input-container>
      </div>
    </div>

    <table class="table">
      <thead style="background:white;">
        <!-- <tr><th>Foto</th><th>Nombre</th><th>Apellidos</th></tr> -->
        <th><font><font>Foto</font></th>
        <th><font><font>Nombre</font></th>
        <th><font><font>Apellidos</font></th>
      </thead>
      <tbody ng-repeat="usuario in vm.usuarios" style="" ng-controller="LoginController as login">
        <!-- <tr><th> scope="row"</th>1</tr> -->
        <td scope="row"><font><font>sin imagen de perfil</font></font></td>
        <td scope="row"><font><font><a href="#/perfil/{{usuario.idUsuario}}">{{usuario.nombres}}</a></font></font></td>
        <td scope="row"><font><font>{{usuario.apellidos}}</font></font></td>
        <td scope="row"><font><font><a href="#/consulta/{{login.getIdCurrentUser()}}/{{usuario.idUsuario}}">Crear consulta</a></font></font></td>

        <!-- <td scope="row"><font><font><a href="#/perfil/{{usuario.idUsuario}}">Ver más</a></font></font> -->
        </td>
      </tbody>
    </table>
  </div>

</section>
